<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'app_title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let hero of superheroes" class="hero-card" (click)="openDetailModal(hero)">
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content class="hero-content">
      <img [src]="hero.thumbnail.path + '/standard_medium.' + hero.thumbnail.extension" alt="Thumbnail" class="hero-image">
      <div class="hero-details">
        <span class="hero-name">{{ hero.name }}</span>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
