@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/palettes/dark.system.css";

@font-face {
    font-family: "custom";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/Montserrat-SemiBold.ttf");
  }
  
  * {
    font-family: "custom", MontserratSemiBold;
    font-size: 1.1rem;
  }
.hero-card {
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;

    ion-card-header {
        background: var(--ion-color-secondary);
        border-bottom: 1px solid #ddd;
        min-height: 60px;
    }

  

    &:hover {
        transform: scale(1.05);
    }
}

.hero-content {
    display: flex;
}

.hero-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;    
}

.hero-details {
    flex-grow: 1;
    color: black;
    display: flex;
    align-items: center;    
}

.hero-name {
    margin-left: 10px;
    font-weight: bold;    
    color: black;
}